<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/5be2b1e7ff.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=source+code+pro"> 
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/hexagons.css"> 
	</head>

<body>  
<div><center>
 <header class="my_name">

 	<font color=#61bb46>d</font>
 	<font color=#fdb827>a</font>
 	<font color=#f5821f>v</font>
 	<font color=#e03a3e>i</font>
 	<font color=#963d97>d</font>
 	&nbsp;
 	<font color=#009ddc>c</font>
 	<font color=#61bb46>i</font>
 	<font color=#fdb827>a</font>
 	<font color=#f5821f>f</font>
 	<font color=#e03a3e>f</font>
 	<font color=#963d97>o</font>
 	<font color=#009ddc>n</font>
 	<font color=#61bb46>i</font>

	</header>
	
<p class="my_info">entrepreneur. designer. aspiring developer. </p>
</p>

<p> <a href="https://github.com/davidkc0"><span class="hb hb-xs inv hb-github-inv"><i class="fa fa-github-square"></i></span></a> 
<a href="https://twitter.com/davidkc00"><span class="hb hb-xs inv hb-github-inv"><i class="fa fa-twitter-square"></i></span></a></p>

<p class="contact"><a href= "mailto:dkc@davidkc.com?"><span title= "dkc@davidkc.com">contact</span> </a></p>
<p class="blog"><a href="/blog">blog</a></p>

</center>
</div>
</body>
</html>




