<!DOCTYPE html>
<html>
	<head> 
	<meta name="viewport" content="width=devise-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

		<script src="https://use.fontawesome.com/5be2b1e7ff.js"></script>

		<link rel="stylesheet" type="text/css" href="assets/stylesheets/hexagons.css"> 

		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"> 

		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Code+Pro">
		<link rel="stylesheet" type="text/css" href="/assets/page-style.css">
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
					
					<script src="https://use.fontawesome.com/5be2b1e7ff.js"></script>
					
					<link rel="stylesheet" type="text/css" href="assets/stylesheets/hexagons.css"> 
					
					<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"> 
					
					<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Code+Pro">

					<script src="assets/javascripts/jquery-2.1.0.js"></script>

				    <script src="assets/javascripts/hexagons.min.js"></script> 
	</head>
		<body>
			<div class="main"> 
				<div class="box">
					
				    
				<center>
				 	<header class="my_name">
						<p class="d">d</p>
						<p class="a">a</p>
						<p class="v">v</p>
						<p class="i">i</p>
						<p class="d-last">d</p>
			
					 	&nbsp;
					</header>
					<header class="my_last_name">
						<p class="c">c</p>
						<p class="i-last">i</p>
						<p class="a-last">a</p>
						<p class="f">f</p>
						<p class="f-last">f</p>
						<p class="o">o</p>
						<p class="n">n</p>
						<p class="i-vary-last">i</p>
					</header>
							<p class="my_info">
								<a href="/blog">blog</a>   ·
								<a href="/portfolio">portfolio</a> ·
								<a href= "mailto:dkc@davidkc.com?"><span title= "dkc@davidkc.com">contact</span></a>  
							</p>

							<p class="big"> 
								<a class="home hb-sm-margin" href="https://github.com/davidkc0" target="_blank"><span class="hb hb-sm inv hb-github-inv"><i class="fa fa-github-square"></i></span></a>  
								
								<a class="home hb-sm-margin" href="https://www.linkedin.com/in/david-ciaffoni-028806125" target="_blank"><span class="hb hb-sm inv hb-linkedin-inv"><i class="fa fa-linkedin-square"></i></span></a>  
							
								<a class="home hb-sm-margin" href="https://twitter.com/davidkc00" target="_blank"><span class="hb hb-sm inv hb-github-inv"><i class="fa fa-twitter-square"></i></span></a> 
						</p> 
						<p class="small"> 
								<a class="home hb-xs-margin" href="https://github.com/davidkc0" target="_blank"><span class="hb hb-xs inv hb-github-inv"><i class="fa fa-github-square"></i></span></a>  
								
								<a class="home hb-xs-margin" href="https://www.linkedin.com/in/david-ciaffoni-028806125" target="_blank"><span class="hb hb-xs inv hb-linkedin-inv"><i class="fa fa-linkedin-square"></i></span></a>  
							
								<a class="home hb-xs-margin" href="https://twitter.com/davidkc00" target="_blank"><span class="hb hb-xs inv hb-github-inv"><i class="fa fa-twitter-square"></i></span></a> 
						</p> 

				</center>
			</div>
		</div>
	</body>
</html>




