<!doctype html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="/assets/blog_index.scss">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
    </head>
    	<body>
    		<div class="main">
    			<div class="box">
    				<header>
    					<a href="/" class="page_title" type="button" data-hover="<back" data-active="<back"><span>portfolio</span></a>
    				</header>  
       				<p>portfolio</p>
       			</div>
       		</div>	
    	</body>
</html>