@charset "UTF-8";

html, body {
	width: 100%;
	background-color: #ffffff;
}
.main {
  width: 100%;
	color: #101010;
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}


header.my_name {
  color: #C70039 ;
  font-family: Lato;
  font-size: 4em;
  font-weight: 300;
  display: inline;

  
  } 

  header.my_last_name {
  color: #C70039 ;
  font-family: Lato;
  font-size: 4em;
  font-weight: 300;
  display: inline;

  
  }

p.my_info {
	color: #bbb8bc ; 
	font-family: 'Source Code Pro', 'sans-serif', 'serif';
	font-size: 1.5em;
	src: "http://use.edgefonts.net/source-code-pro.js";
}

p.contact {
	color: #bbb8bc ; 
	font-family: 'Source Code Pro', 'sans-serif', 'serif';
	font-size: 1.5em;
  text-decoration: none;
	src: "http://use.edgefonts.net/source-code-pro.js";

} 



.blog {
  color: #bbb8bc ; 
  font-family: 'Source Code Pro', 'sans-serif', 'serif';
  font-size: 1.5em;
  text-decoration: none;
  src: "http://use.edgefonts.net/source-code-pro.js";
} 


a:link {
  color: #bbb8bc;
  text-decoration: none;

}

a:visited {
    color: #bbb8bc;
}


a:hover {
    color: #bbb8bc;
    text-decoration: underline;
}


a:active {
    color: #bbb8bc;
} 

@media (max-width: 750px){
  header.my_name {
    display: block;
    font-size: 3.5em;
  }
  header.my_last_name {
    display: block;
    font-size: 3.5em;
  }
}
