// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

header.my_name {
  color: #C70039 ;
  font-family: Lato;
  font-size: 40px;
  font-weight: 300;

  
  }

p.my_info {
	color: #bbb8bc ; 
	font-family: 'Source Code Pro', 'sans-serif', 'serif';
	font-size: 15px;
	src: "http://use.edgefonts.net/source-code-pro.js";
}

p.contact {
	color: #bbb8bc ; 
	font-family: 'Source Code Pro', 'sans-serif', 'serif';
	font-size: 15px;
  text-decoration: none;
	src: "http://use.edgefonts.net/source-code-pro.js";
} 



p.blog {
  color: #bbb8bc ; 
  font-family: 'Source Code Pro', 'sans-serif', 'serif';
  font-size: 15px;
  text-decoration: none;
  src: "http://use.edgefonts.net/source-code-pro.js";
} 

p.blog:hover 
{
     color:#bbb8c; 
     text-decoration:none; 
     cursor:pointer;  
}

a:link {
  color: #bbb8bc;
}

a:visited {
    color: #bbb8bc;
}


a:hover {
    color: #bbb8bc;
}


a:active {
    color: blue;
}

h1.geobottitle {
  color: #03a9f4 ; 
  font-family: 'Lato';
  font-size: 40px;
  src: "http://use.edgefonts.net/source-code-pro.js";
} 

b.yousay {
  color: #bbb8bc ; 
  font-family: 'Source Code Pro', 'sans-serif', 'serif';
  font-size: 15px;
  text-decoration: none;
  src: "http://use.edgefonts.net/source-code-pro.js";
} 

p.response {
  color: #fffff ; 
  font-family: 'Source Code Pro', 'sans-serif', 'serif';
  font-size: 25px;
  text-decoration: none;
  src: "http://use.edgefonts.net/source-code-pro.js";
} 

input.button {
font-family: 'Source Code Pro', 'sans-serif', 'serif';
  font-size: 15px;
  text-decoration: none;
}

